/* Loading */

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/Preloader_2.gif) center no-repeat #fff;
}
/* Global */

body {
    min-width: 1024px !important;
}

#master_menu {
    min-width: 1024px !important;
}

p,
a,
label,
span {
    font-size: 15px;
    line-height: 25px !important;
}

p.float.right{
    float:right;
}

.display_content {
    display: none;
}

.active {
    display: block !important;
}

.inverted.segment > p > a {
    color: #E8E8E8;
}

.inverted.segment > p > a:hover {
    color: #c6c4c4;
}

/* Semantic Element */

.ui.ordered.narrow.inverted.list{
    float:left;
    text-align: left;
    margin-left: 2rem;
    margin-top: -1.2rem;
}

.course.column{
    margin-top: -0.5rem !important;
}

.ui.hidden.course.divider{
    margin:0.87rem;
}

.ui.course.label{
    margin-right:4.2rem;
    top:-0.8rem;
    margin-bottom:-1rem;
}

.ui.course_ad.label{
    margin-right:4.2rem;
    top:-1.4rem;
    margin-bottom:-1rem;
}

.ui.grid>.three_round_ad.column, .ui.grid>.three_round_ad.row, .ui.grid>.row>.three_round_ad.column{
    background-color:#6ad1cb;
}

.ui.grid>.three_round.column, .ui.grid>.three_round.row, .ui.grid>.row>.three_round.column{
    background-color:#6bc6c2;
}

.ui.grid>.three_round.head.column, .ui.grid>.three_round.head.row, .ui.grid>.row>.three_round.head.column{
    background-color:#5dbab5!important;
}

.ui.grid>.second_round.column, .ui.grid>.second_round.row, .ui.grid>.row>.second_round.column{
    background-color:#d1c29a!important;
}

.ui.grid>.first_round.column, .ui.grid>.first_round.row, .ui.grid>.row>.first_round.column{
    background-color:#80a3ce!important;
}

.course.item {
    -o-transition: .3s !important;
    -ms-transition: .3s !important;
    -moz-transition: .3s !important;
    -webkit-transition: .3s !important;
    transition: .3s !important;
    color:rgba(255,255,255,0.9) !important;
}

.course.item:hover {
    color: white !important;
    border-color: white !important;
    cursor:pointer;
}

.ui.padding_right.divided.grid:not([class*="vertically divided"])>.row>.column{
    box-shadow: -1px 0 0 0 rgba(255,255,255,.85);
}

.padding_right.grid{
    padding-right:1rem;
}

.circular_segment{
    height:150px;
    width:150px;
}

.external_web{

}

.school_url{
    overflow:hidden;
    text-overflow:ellipsis;
}

.external_iframe{
    -webkit-transform:scale(0.9);
    -moz-transform-scale(0.9);
    margin-left:-60px;
    margin-top: -60px;
}

.margin_left.item{
    margin-left: 3rem !important;
}

.margin_left_small{
    margin-left: 2rem !important;
}

.no_left_margin{
    margin-left: 0rem !important;
}

.ui .horizontal.list > .item > a, .ui .bulleted.history.list > .item > span > a{
    color:dimgrey;
    text-decoration:underline;
}

.ui.raised.very.padded.home.segment{
    max-height: 800px;
    overflow: auto;
}

.ui.news.image{
    width:38%;
}

.news.description{
    overflow:hidden;
    height:9rem;

}

.extra > a > .ui.label{
    float:right;
}

span.news.time{
    color:darkgrey;
    float:right;
}

h4.ui.news.dark_red.header{
    margin-top:0.2rem;
    margin-bottom: 0.5rem;
}

.transition_red.item.active {
    font-weight: 800;
}

.ribbon.label {
    font-size: 15px;
}

.large.divider {
    height: 5rem;
}

.medium.divider {
    height: 2rem;
}

.small.divider {
    height: 1rem;
}

.dark_red {
    color: #CC0000 !important;
}

.transition_red.item {
    -o-transition: .3s !important;
    -ms-transition: .3s !important;
    -moz-transition: .3s !important;
    -webkit-transition: .3s !important;
    transition: .3s !important;
    color: black;
}

.transition_red.item:hover {
    color: #ED786A !important;
    border-color: #ED786A !important;
}

.lightred {
    color: #ED786A !important;
}

.non-pointer.item {
    cursor: default;
}

.double_divider {
    height: 0.5rem;
    width: 100%;
    background-color: white;
    margin-top: 1px;
    margin-bottom: 1px;
}

.double_divider_bg {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.ui.ordered.list>.item, .ui.bulleted.list>.item{
    margin-bottom: 1rem;
}

.ui.ordered.narrow.list>.item{
    margin-bottom: 0rem;
}

.question{
    color: firebrick;
}


/* For Photo Gallary */

#owl-demo .item {
    margin: 3px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

table.ui.person.black.table{
    width:96%;
    margin-left: 1rem;
}

/* Override Semantic UI Element */

.ui.ordered.list .list>.item:before, .ui.ordered.list>.item:before, ol.ui.list li:before{
    margin-top:0.32rem;
}

.ui.ordered.narrow.list .list>.item:before, .ui.ordered.narrow.list>.item:before, ol.ui.narrow.list li:before{
    margin-top: 0rem;
    color:white;
}

.ui.bulleted.list .list>.item:before, .ui.bulleted.list>.item:before{
    margin-top:0.32rem;
}

/* For master */

#master_menu {
    //left:initial;
    height: 4rem;
    background-color: white;
}

.logo.home.header {
    font-size: -webkit-xxx-large !important;
    margin-top: 6rem !important;
    margin-bottom: 1rem !important;
}

.logo.article.header {
    font-size: -webkit-xxx-large !important;
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
}

.large_font {
    font-size: 1.5rem;
}

.medium_font {
    font-size: 1.2rem;
}

.text.menu.aligned_logo {
    margin-bottom: -0.5rem;
}
/* For Footer */

#footer_segment > .black.row {
    padding: 2rem;
}

#footer > .ui.images .image,
.ui.images img,
.ui.images svg {
    margin:0 !important;
    margin-right: 0.3rem;
    margin-bottom: -0.3rem !important;
}

#footer .ui.horizontal.image > img {
    height: 35px !important;
    width: auto !important;
}

#footer .ui.tiny_small.image > img {
    height: 52px !important;
    width: auto !important;
}
